<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>   
</div>
<!--removed the app-users selector from app.component.ts because we want to
display UserComponent only when the user navigates to it-->
<!--<app-user></app-user>-->

<!--This nav element adds navigation to the UsersComponent
which when clicked, triggers navigation to our UsersComponent-->
<nav>
  <!--Navigation links we added to AppComponent shell template
  which allows user to navigate back and forth between the DashboardComponent
and UsersComponent-->
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/users">Users</a>
</nav>

<!--riyter-outlet tells router where to display routed views
The RouterOutlet is one of the router directives that became avaliable to the 
AppComponent because AppModule imports AppRoutingModule 
which exported RouterModule-->
<router-outlet></router-outlet>
<app-messages></app-messages>

